.vscode/**
.vscode-test/**
.gitignore
.github
vsc-extension-quickstart.md
!fuzion-lsp-server/out.jar
!fuzion-lsp-server/jars/**
!fuzion-lsp-server/fuzion/build/bin/**
!fuzion-lsp-server/fuzion/build/lib/**
!fuzion-lsp-server/fuzion/build/modules/*.fum
fuzion-lsp-server/**
node_modules/**
