.vscode/**
.vscode-test/**
.gitignore
vsc-extension-quickstart.md
!fuzion-lsp-server/out.jar
!fuzion-lsp-server/fuzion/build/lib/**
!fuzion-lsp-server/fuzion/build/modules/**
fuzion-lsp-server/**
node_modules/**
