.vscode/**
.vscode-test/**
.gitignore
.github
vsc-extension-quickstart.md
!fuzion/build/lsp.jar
!fuzion/build/jars/**
!fuzion/build/bin/**
!fuzion/build/lib/**
!fuzion/build/modules/*.fum
fuzion/**
node_modules/**
