name: publish on eclipse marketplace

on:
  # schedule:
  # - cron: "0 4 * * 0"
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install libgc1 libgc-dev shellcheck asciidoc asciidoctor ruby-asciidoctor-pdf pcregrep antlr4 openjdk-25-jdk-headless
        echo "JAVA_HOME=/usr/lib/jvm/java-25-openjdk-amd64" >> $GITHUB_ENV
        echo "/usr/lib/jvm/java-25-openjdk-amd64/bin" >> $GITHUB_PATH

    - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
      with:
        node-version: '20'
        cache: 'npm'

    - name: package version
      id: package-version
      run: >
        echo ::set-output name=version::$(sed -nE 's/^\s*"version": "(.*?)",$/\1/p' package.json)

    - name: update submodule
      run: git submodule update --init --recursive

    - name: build vsix package
      run: make build-vsix

    - name: publish
      env:
        OVSX_TOKEN: ${{ secrets.OVSX_TOKEN }}
      run: >
        npx ovsx publish fuzion-lang-$(sed -nE 's/^\s*"version": "(.*?)",$/\1/p' package.json).vsix -p $OVSX_TOKEN

