name: publish on eclipse marketplace

on:
  # schedule:
  # - cron: "0 4 * * 0"
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Setup jdk-25
      uses: actions/setup-java@main
      with:
        java-version: 25
        distribution: 'adopt'

    - name: install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install libgc1 libgc-dev shellcheck asciidoc asciidoctor ruby-asciidoctor-pdf pcregrep antlr4

    - uses: actions/setup-node@v6
      with:
        node-version: '20'
        cache: 'npm'

    - name: package version
      id: package-version
      run: >
        echo ::set-output name=version::$(sed -nE 's/^\s*"version": "(.*?)",$/\1/p' package.json)

    - name: update submodule
      run: git submodule update --init --recursive

    - name: build vsix package
      run: make build-vsix

    - name: publish
      env:
        OVSX_TOKEN: ${{ secrets.OVSX_TOKEN }}
      run: >
        npx ovsx publish fuzion-lang-$(sed -nE 's/^\s*"version": "(.*?)",$/\1/p' package.json).vsix -p $OVSX_TOKEN

