name: github release

on:
  # schedule:
  # - cron: "0 4 * * 0"
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install libgc1 libgc-dev shellcheck asciidoc asciidoctor ruby-asciidoctor-pdf pcregrep antlr4 openjdk-25-jdk-headless
        echo "JAVA_HOME=/usr/lib/jvm/java-25-openjdk-amd64" >> $GITHUB_ENV
        echo "/usr/lib/jvm/java-25-openjdk-amd64/bin" >> $GITHUB_PATH

    - uses: actions/setup-node@v6
      with:
        node-version: '20'
        cache: 'npm'

    - name: package version
      id: package-version
      run: >
        echo ::set-output name=version::$(sed -nE 's/^\s*"version": "(.*?)",$/\1/p' package.json)

    - name: update submodule
      run: git submodule update --init --recursive

    - name: build vsix package
      run: make build-vsix

    - uses: ncipollo/release-action@v1
      with:
        artifacts: "fuzion-lang-${{ steps.package-version.outputs.version }}.vsix"
        tag: "v${{ steps.package-version.outputs.version }}"
        prerelease: false
        generateReleaseNotes: true
        token: ${{ secrets.GITHUB_TOKEN }}
